:root {
    --width: 80%;
}

.acct-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.back-btn {
    position: absolute;
    top: 28px;
    left: 36px;
    z-index: 900;
}

.acct-child1 {
    width: 40vw;
    max-width: 500px;
    height: 100vh;
    min-height: 500px;
    margin: 0;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.acct-header {
    margin: 0;
    font-weight: 400;
}

.input-container {
    width: var(--width);
    background-color: var(--lighterer);
    border: 1px solid var(--lighter);
    border-radius: 5px;
    padding: 20px 30px;
}

.acct-input {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid var(--lighter);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
}

.acct-btn {
    width: var(--width);
    height: 45px;
    border: 1px solid var(--main);
    padding: 10px;
    margin: 0;
}

.error-message {
    display: none;
    width: var(--width);
    background-color: white;
    border-radius: 5px;
    color: red;
    text-align: center;
    font-size: 1.4rem;
}

.acct-child2 {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    width: 63%;
    height: 260px;
    position: relative;
    top: -25px;
}

.acct-svg {
    position: relative;
    transform: scaleY(-1);
}

.acct-card {
    position: relative;
    width: 100%; 
    height: 100%;
    border: 10px solid var(--lighter);
    background-color: white;
    border-radius: 50px;
    transition: top 1s ease-in;
}

#path1 {
    top: 0px;
    left: 120px;
    transition: .3s ease-out;
    animation: card-anim 1.2s ease-in-out .2s 1 forwards;
}
#path1:hover {
    top: -30px;
}

#path2 {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.7rem;
    font-weight: 800;
    color: white;
    background-color: var(--darker);
    border: 10px solid white;
    position: relative;
    top: -210px;
    left: 50px;
    transition: .3s ease-out;
    animation: card-anim2 1.2s ease-in-out 0s 1 forwards;
}
#path2:hover {
    top: -230px;
}

@keyframes card-anim {
    to {
        left: 0;
    }
}
@keyframes card-anim2 {
    to {
        left: -70px;
    }
}