body {
  overflow: scroll;
}

.heading {
    margin-bottom: 0px;
}

table {
    width: 100%;
    border-spacing: 10px;
    font-weight: 300;
    margin-top: 0px;
}

thead, tbody, tr, th, td {
    text-align: left;
    padding: 10px;
    margin: 0;
    color: var(--dark);
}

.row {
    box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.363);
    border-radius: 5px;
}

.index-box {
    padding: 0px 10px 0px 12px;
}

.index {
    padding: 8px 20px 8px 0;
    border-right: 1px solid var(--lighter);
    color: var(--main);
    font-size: 1.4rem;
    font-weight: 700;
}

.front-box, .back-box {
    width: 50%;
    height: 100%;
    padding: 10px 0px;
}

.delete-box {
    width: 100%;
    padding: 0;
}

.delete-btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 96, 96);
    position: relative;
    top: 3px;
}
.delete-btn:hover {
    color: rgb(255, 132, 132);
}

.card-text {
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 10px 10px;
    border-radius: 2px;
    transition: background-color 1s ease;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    line-height: 27px;
}
.card-text:hover, .row:hover {
    cursor: auto;
}

.add-btn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--main);
    position: relative;
    left: -5px;
}

#input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
