.heading {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-spacing: 10px;
    font-weight: 300;
}

thead, tbody, tr, th, td {
    text-align: left;
    padding: 10px;
    margin: 0;
}

.row {
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.363);
    border-radius: 5px;
}

.front-box, .back-box {
    width: 50%;
    height: 100%;
    padding: 20px 10px;
    line-height: 22px;;
}

.delete-box {
    width: 100%;
    padding: 0;
}

.delete-btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 96, 96);
    position: relative;
    top: 3px;
}
.delete-btn:hover {
    color: rgb(255, 132, 132);
}

.add-btn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--main);
    position: relative;
    left: -5px;
}

#input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}