#body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    --bwidth: 25px;
    --bheight: 210px;
    --bborder: 10px;
}

#card-container {
    width: 85%;
    height: 68vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#controls {
    margin-left: 50px;
}

.control-btn {
    font-size: 3rem;
}
.control-btn:hover { 
    color: var(--main);
}

#down-btn {
    color: var(--lighter);
    cursor: auto;
}

#card {
    position: relative;
    width: 85%;
    height: 100%;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
    border-radius: 0px;
    text-align: center;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3.5rem;
    transform: rotateX(0deg);
    transition: .5s ease;
}

#text-display-back {
    display: none;
    transform: rotateX(180deg);
}

#progress-container {
    margin-left: 40px;
}

#pb-container {
    margin: 80px 0;
    width: 100%;
}

#pb1 {
    width: var(--bwidth);
    height: var(--bheight);
    border: var(--bborder) solid var(--lighter);
    border-radius: 50px;
    margin: auto;
    z-index: 30;
}

#pb2 {
    position: relative;
    top: -230px;
    transition: top 1s ease;
    width: var(--bwidth);
    height: var(--bheight);
    border: var(--bborder) solid white;
    border-radius: 50px;
    background-color: var(--main);
    margin: auto;
    z-index: -50;
}

#pb3 {
    position: relative;
    top: -5px;
    width: var(--bwidth);
    height: calc(var(--bheight) + 10px);
    border: var(--bborder) solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: auto;
    z-index: -10;
}