.link-container {
    width: 20%;
    margin: 0 20px;
    height: fit-content;
    transition: .6s ease;
}
.link-container:hover {
    transform: scale(1.03) translateY(-5px);
}

.deck-container {
    background-color: white;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5%;
    padding: 15px 53px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: .6s ease;
    box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.322);
    border-bottom: solid 5px var(--lighterer);
}
.deck-container:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px rgba(128, 128, 128, 0.322);
    border-bottom: solid 5px var(--main);
}

h3 {
    color: black;
    text-align: start;
    line-height: 25px;
    font-weight: 500;
    max-height: 50px;
    overflow-y: hidden;
}

.public {
    text-transform: capitalize;
    width: fit-content;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    background-color: var(--sub-lighter);
    padding: 4px 6px;
    border-radius: 5px;
    position: relative;
    top: -7px;
}
.private {
    text-transform: capitalize;
    width: fit-content;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    padding: 4px 6px;
    border-radius: 5px;
    position: relative;
    top: -7px;
    background-color: var(--lighter);
}

.owner {
    color: var(--lighter);
    margin: 0px 0;
}
.you {
    color: var(--darker)
}

.homepage-save {
    position: relative;
    top: 50px;
    left: 76%;
    background-color: transparent;
    color: rgb(255, 93, 120);
    font-size: 1.8rem;
    z-index: 10;
}
.homepage-save:hover {
    color: rgb(255, 93, 120);
}

.btn-header {
    color: var(--light);
    font-size: 2.6rem;
    font-weight: 500;
    margin: 15% 0 30px 0;
}

.btn-icon {
    color: var(--main);
    font-size: 7rem;
    padding: 0px;
}

@media(max-width: 1500px) {
    .deck-section {
        padding: 10px 50px;
    }
    .link-container {
        width: 20%;
    }
}
@media(max-width: 1100px) {
    .deck-section {
        padding: 10px 30px;
    }
    .link-container {
        width: 25%;
    }
}
@media(max-width: 900px) {
    .deck-section {
        padding: 10px 20px;
    }
    .link-container {
        width: 25%;
    }
}
@media(max-width: 700px) {
    .deck-section {
        padding: 10px 10px;
    }
    .link-container {
        width: 37%;
    }
}
@media(max-width: 450px) {
    h2 {
        margin: 0;
    }
    .deck-section {
        padding: 10px 0px;
    }
    .link-container {
        width: 70%;
    }
}