#body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    --bwidth: 25px;
    --bheight: 210px;
    --bborder: 10px;
}

.save-btn {
    min-width: 100px;
    border-radius: 25px;
    background-color: var(--main-light);
    color: white;
    padding: 10px 12px;
}
.save-btn:hover {
    background-color: var(--light);
    color: white;
}

.unsave-btn {
    min-width: 85px;
    border-radius: 25px;
    background-color: var(--sub-light);
    color: white;
    padding: 10px 12px;
}
.unsave-btn:hover {
    background-color: var(--sub-lighter);
    color: white;
}

#card-container {
    width: 78%;
    height: 66vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#controls {
    width: 50px;
    height: 90px;
    margin: 0 0 0 40px;
}

.control-btn {
    font-size: 3rem;
}
.control-btn:hover { 
    color: var(--main);
}

#down-btn {
    color: var(--lighter);
    cursor: auto;
}

#card {
    position: relative;
    width: 85%;
    height: 100%;
    padding: 5%;
    box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.5);
    border-radius: 0px;
    text-align: center;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3.5rem;
    transform: rotateX(0deg);
    transition: .5s ease;
}

#text-display-back {
    display: none;
    transform: rotateY(180deg);
}

#progress-container {
    margin-left: 0px;
    width: 80px;
    text-align: center;
}

#progress {
    margin-top: 30px;
    min-width: 30px;
}

#pb-container {
    margin: 80px 0;
    width: 100%;
    height: var(--bheight);
    overflow: hidden;
}

#pb1 {
    width: var(--bwidth);
    height: var(--bheight);
    border: var(--bborder) solid var(--lighterer);
    border-radius: 50px;
    margin: auto;
    z-index: 30;
}

#pb2 {
    position: relative;
    top: -230px;
    transition: top 1s ease;
    width: var(--bwidth);
    height: var(--bheight);
    border: var(--bborder) solid white;
    border-radius: 50px;
    background-color: var(--main);
    margin: auto;
    z-index: -50;
}

#pb3 {
    position: relative;
    top: -5px;
    width: var(--bwidth);
    height: calc(var(--bheight) + 10px);
    border: var(--bborder) solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: auto;
    z-index: -10;
}

#shuffle-btn { 
    transform: rotate(180deg);
    font-size: 2rem;
    position: relative;
    left: -62px;
}

@media(max-width: 750px) {
    #card {
        height: 80%;
        font-size: 3rem;
    }
}
@media(max-width: 650px) {
    #body {
        flex-direction: column;
    }
    #card-container {
        width: 100%;
        flex-direction: row;
    }
    #card {
        min-width: 350px;
    }
    #progress-container {
        transform: rotate(90deg);
    }
    #progress {
        transform: rotate((-90deg));
    }
}