#body {
    width: 100vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#main {
    margin-top: 60px;
    padding-bottom: 30px;
    overflow-x: hidden;
}

#pf-section {
    width: 100vw;
    max-width: none;
    height: 270px;
    background-color: var(--darker);
    position: relative;
    top: 0px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile {
    width: 90vw;
    max-width: 1400px;
    height: 210px;
    margin: 0px;
    padding: 50px 50px 40px 50px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.stats-container {
    margin-left: 20px;
    width: 80%;
}

#un-container {
    font-size: 3.5rem;
    width: 100%;
}

#un {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border-radius: 5px;
    padding: 5px 10px;
}

#name {
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
    border-bottom: none;
    font-weight: 500;
    font-size: 2rem;
    color: white;
}

.stats {
    margin: 7px 0 0 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.bold {
    font-weight: 800;
}
.stats-link {
    color: white;
    font-weight: 500;
}
.stats-link:hover {
    text-decoration: underline;
}

#pf-shade {
    z-index: 600;
}

#edit-container {
    position: fixed;
    top: 20%;
    left: calc(50vw - 205px);
    padding: 60px 65px 40px 65px;
    width: 410px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: auto;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.322);
    border-radius: 10px;
    display: none;
    z-index: 50;
    transform: scale(.5);
    z-index: 650;
}

.edit-input {
    padding: 5px 10px !important;
    border: 1px solid var(--lighterer);
    border-radius: 5px;
    font-size: 1.5rem;
    color: black !important;
    background-color: white;
}

#email-input:hover {
    cursor: not-allowed;
}

#edit-un-btn {
    width: 120px;
    min-width: fit-content;
    height: 33px;
    padding: 0;
    font-size: 1.5rem;
    border: 1px solid lightgray;
}

#pf-error {
    font-size: 1.6rem;
    color: red;
    display: none;
    position: relative;
    top: -10px;
}

#pf-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#cancel-un-btn {
    background-color: rgb(255, 71, 71);
    color: white;
    width: 80px;
    height: 33px;
    min-width: fit-content;
}
#cancel-un-btn:hover {
    background-color: rgb(255, 125, 125);
}

.save-un-btn {
    background-color: var(--main);
    color: white;
    width: 80px;
    height: 33px;
    min-width: fit-content;
}
.save-un-btn:hover {
    background-color: var(--main-light);
    color: white;
}

.no-save-un-btn {
    background-color: var(--lighter);
    color: white;
    width: 80px;
    height: 33px;
    min-width: fit-content;
}
.no-save-un-btn:hover {
    background-color: var(--lighter);
    color: white;
    cursor: auto;
}