h4 {
    color: var(--sub);
    font-family: inherit;
    z-index: inherit;
    font-size: 1.6rem;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 18px 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    z-index: 9999;
    box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.322);
}

.top-link {
    position: relative;
    margin: 30px;
}

#cards-icon {
    transform: scale(.3);
    position: relative;
    top: 0px;
    left: -40px;
}
.cards-path {
    stroke: var(--sub);
    stroke-width: 7;
    fill: transparent;
}

#login-container {
    display: flex;
}

@media(max-width: 415px) {
    .top-link {
        left: -100px;
        margin: 20px;
    }
}